:root {
	--color-bodyBg: #F9FAFD;
	--color-0: #ffffff;
	--color-1: #000000;
	--color-2: #99A1AF;
	--color-3: #6A7282;
	--color-4: #E5E7EB;
	--color-5: #4A5565;
	--color-6: #1E2939;
	--color-7: #0179C0;
	--color-8: #002F75;
	--color-orange: #FEA319;
	--color-blue-light: #28B7E4;
	--color-blue: #1875BF;
	--color-blue-dark: #004578;

	--font-1: 'Inter', sans-serif;
	--font-2: 'HeliosExt', sans-serif;


}

